allure-behave==2.13.5
allure-python-commons==2.13.5
behave==1.2.6
behave-html-formatter==0.9.8
certifi==2024.7.4
charset-normalizer==2.0.12
dynaconf==3.2.6
faker==22.5.1
idna==3.7
parse==1.19.0
parse-type==0.6.0
pytz==2022.1
requests==2.32.3
six==1.16.0
urllib3==2.5.0
xmltodict==0.12.0
markdown==3.8
jinja2